{% extends "base.html" %}
{% block content %}
    <div class="container_csv">

            {% for option, desc in options.items() %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{option}}" id="{{desc}}" onchange="update_selected()">
                <label  class="form-check-label" for="{{desc}}">
                {{desc}}
                </label>
            </div>
            {% endfor %}
 

        <form action="{{ url_for('tieosat_csv')}}" method="POST">
            <input type="hidden" id="selected_options" name="selected_options" value="">
            <button type="submit" class="btn btn-primary mb-3" style="margin-top: 1%;" id="inputGroupFileAddon">Lähetä</button>
        </form>
    </div>
    <script>
        function update_selected() {
            var values = [],
            inputs = document.getElementsByTagName("input");

            for (var i = inputs.length -1 ; i>= 0; i--)
                if (inputs[i].type === "checkbox" && inputs[i].checked)
                    values.push(inputs[i].value);

            document.getElementById("selected_options").value = JSON.stringify(values);
        }
    </script>
{% endblock %}