{% extends "base.html" %}



{% block content %}
    <div>
        <div class="row" style="padding-bottom: 3%;">
            <div class="col">
                <h2>{{class_name}}</h2>
            </div>
            <div class="col col-md-auto">
 
                    <form action="/download/meta/{{class_name}}" style="padding-bottom: 1%">
                        <input type="submit" value="Lataa" class="btn btn-primary">
                    </form>

                <script>
                    var btn = document.getElementById("load");
                    var loader = new ldLoader({ root: btn });
                    btn.addEventListener("click", function() {
                      loader.toggle();
                    });
                  </script>
            </div>
                  
        </div>
        <div class="row">
            <div class="col">
                <h4>Kohdeluokat</h4>
                <ul class="list-group" style="list-style: none;">
                    {% for key in data %}
                        <li>
                            <a class="list-group-item list-group-item-action" href="/{{class_name}}/{{key}}">{{key}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <h4>Nimikkeistöt</h4>
                <ul class="list-group" style="list-style: none;">
                    {% for key, value in nimikkeistot.items() %}
                        <li>
                            <button class="dropdown-btn{{ key }} list-group-item list-group-item-action" style="align-content: center">{{key}}</button>
                            <div class="dropdown-container dc-box" style="display:none">
                                {% for nimikkeet in value %}
                                    <table class="table table-hover">
                                        {% for nimike, otsikko in nimikkeet.items() %}
                                            <tr>
                                                <th scope="col" style="color: var(--1)">{{nimike}}</th>
                                            </tr>
                                            <tr>
                                                <td style="color: var(--3)">{{otsikko}}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endfor %}
                            </div>
                        </li>
                        <script>
                            var dropdown = document.getElementsByClassName("dropdown-btn{{key}}");
                            var i;
                    
                            for (i = 0; i < dropdown.length; i++) {
                            dropdown[i].addEventListener("click", function() {
                                this.classList.toggle("active");
                                var dropdownContent = this.nextElementSibling;
                                if (dropdownContent.style.display === "block") {
                                dropdownContent.style.display = "none";
                                } else {
                                dropdownContent.style.display = "block";
                                }
                            });
                            }
                        </script>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}