{% extends "base.html" %}
{% block content %}
<div style="width:50%; margin:auto">
    <h3>Lähetä:</h3>
    tietokokonaisuus
    <select class="form-select form-select-lg mb-3" name="nimiavaruus" id="nimiavaruus" onchange="dynamic_options(this)">
        {% for key, value in data.items() %}
            <option value={{key}}>{{key}}</option>
        {% endfor %}
    </select>
    kohdeluokka
    <select class="form-select form-select-lg mb-3" name="kohdeluokka" id="kohdeluokka" onchange="change_form_value(this)">
    </select>
    valitse tiedosto
    <form action="{{ url_for('curl_put')}}" method="POST" enctype=multipart/form-data>
        <input class="form-control" type="file" id="file" name="file" aria-label="Upload" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
        <input type="hidden" id="target" name="target" value={{target}}>
        <button type="submit" class="btn btn-primary mb-3" style="margin-top: 1%;" id="inputGroupFileAddon">Lähetä</button>
    </form>
 

    <script>
        function dynamic_options(opt) {
            var key = opt.value;
            var select = document.getElementById("kohdeluokka");
            var length = select.options.length;
            for (i = length-1; i >= 0; i--) {
                select.options[i] = null;0
            }
            var data_as_json = {{ data | tojson }};
            var new_options = data_as_json[key];
            for (i = 0; i < new_options.length; i++) {
                var opt = document.createElement('option');
                opt.value = new_options[i];
                opt.innerHTML = new_options[i].split('_')[2];
                select.appendChild(opt);
            }
            var input = document.getElementById("target")
            input.value = new_options[0]
        }

        function change_form_value(option) {
            var input = document.getElementById("target")
            input.value = option.value
        }
    </script>


    <div class="row">
        <h3>CSV -> JSON muuntaja</h3>
        <form action="{{ url_for('csv_to_json')}}" method="POST" enctype=multipart/form-data>
            <input class="form-control" type="file" id="file" name="file" aria-label="Upload" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
            <button type="submit" class="btn btn-primary mb-3" style="margin-top: 1%;" id="inputGroupFileAddon">Muunna</button>
        </form>

    </div>
</div>
{% endblock %}